<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>o_meni</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/o_meni">o meni</a></li>
        <li role="presentation"><a href="/moji_projekti">Moji projekti</a></li>
        <li role="presentation"><a href="/blog">Blog</a></li>
        <li role="presentation"><a href="/kontakt">kontakt</a></li>
    </ul>
    <br>
    <div class="jumbotron">
        <h1>Tuaj piše vse o meni!</h1>
        <p>
        Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.
        Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
        i lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
        mnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
        At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
        a quande lingues coalesce, li grammatica del resultant lingue es plu simplic e
        regulari quam ti del coalescent lingues.
        Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.
        It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/moji_projekti" role="button">Moji projekti</a>
        </p>
    </div>

</body>
</html>